$black: #282828;
$darkGray: #303030;
$midGray: #383838;
$lightGray: #484848;
$white: #f0f0f0;
$fgWhite: hsl(0, 0%, 97%);
.skillSet {
  .group {
    padding-bottom: 40px;
  }

  h3 {
    font-weight: bold;
    font-size: 1.5rem;
  }
  .row {
    background: rgba($color: $black, $alpha: 1);
    color: $white;
    border-radius: 20px;
    padding: 20px 20px;
  }

  .col {
    padding: 10px 0 !important;
    max-width: 150px;
  }
  .card {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .card-body {
    padding: 1rem 0;
  }
}
@media only screen and (max-width: 767px) {
  .skillSet {
    // img {
    //   filter: invert(0%);
    //   opacity: 0.8;
    // }
    .row {
      // background: rgba($color: $white, $alpha: 0.5);
      background: transparent;
      box-shadow: none !important;
      color: $darkGray;
      padding: 5px 20px;
    }
    .group {
      padding-bottom: 0px;
    }
    .col {
      padding: 0px;
    }
  }
}
