$black: #282828;
$darkGray: #303030;
$midGray: #383838;
$lightGray: #484848;
$white: #f0f0f0;
$fgWhite: #f8f8f8;
.technical {
  padding: 0 !important;
}

div.text-center.col {
  padding: 5px;
}
.technical {
  ul {
    column-count: 2;
    column-gap: 20px;
  }
}

.features {
  border-left: 1px solid $white;
  line-height: 1;
  padding-left: 10px;
  padding-right: 30px;
  margin-left: 20px !important;
}
.glyph {
  width: 24px;
}
.project {
  border-radius: 20px;
  position: relative;
  z-index: 100;
  background: $fgWhite;
  padding: 0 !important;
  margin-bottom: 50px;
  overflow: hidden;
  h3 {
    font-weight: 900;
  }
  .thumbnail {
    width: 300px;
  }
  &--leftTopCut {
    clip-path: polygon(80% 0, 100% 15%, 100% 100%, 0 100%, 0 0);
  }
  &__card {
    padding: 30px;
    padding-bottom: 0;
    border: none !important;
    background: transparent !important;
  }

  &__title {
    font-size: 2em !important;
    color: $white;
    font-weight: bold !important;
    margin: 10px;
    background: $darkGray;
  }
  &__title::before {
    content: "_";
  }
  &__overview {
    height: 100%;
    background: $darkGray;
    color: $white;
    padding: 40px;
    padding-left: 30px !important;
    padding-right: 40px !important;
  }
  .links {
    .col {
      // padding-bottom: 20px;
      align-content: center;
    }
  }
  a {
    color: $lightGray;
    transition: 0.5s;
    opacity: 0.7;
    position: relative;
  }
  a:hover {
    color: $black;
    opacity: 1;
    text-decoration: none;
  }
  a::before {
    content: "";
    position: absolute;
    left: 0;
    width: 0%;
    height: 2px;
    background: $black;
    z-index: -1;
    transition: 0.5s;
    bottom: -10px;
  }
  a:hover::before {
    width: 100%;
  }
}
