$black: #282828;
$darkGray: #303030;
$midGray: #383838;
$lightGray: #484848;
$white: #f0f0f0;
$fgWhite: #f8f8f8;
.timeLine {
  font-size: 1.5rem;
  .title {
    font-weight: bold;
  }
  ul {
    list-style: none;
    text-align: left;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 2px;
      height: 340%;
      background-image: linear-gradient(
        to bottom,
        $darkGray 20%,
        rgba(255, 255, 255, 0) 0%
      );
      background-position: left;
      background-size: 10px 15px;
      background-repeat: repeat-y;
    }
    .skillMark {
      height: 2px;
      width: 40px;
    }
    .skillMark--main {
      position: absolute !important;
      background: $lightGray;
      display: inline;
      bottom: -0%;
      left: 0px;
    }
    .skillMark--others {
      position: absolute !important;
      background: #303030;
      display: inline;
      bottom: -260%;
      left: 0px;
    }
  }
  li {
    margin: 50px 30px;
    position: relative;
    span {
      content: "";
      position: absolute;
      top: 0;
      left: -70px;
      width: 0px;
      height: 100%;
      border: 1px solid $darkGray;

      &::before,
      &::after {
        background: $darkGray;
        content: "";
        width: 10px;
        height: 10px;
        border: 1px solid $darkGray;
        position: absolute;
        border-radius: 50%;
      }
      &::before {
        top: -5px;
        left: -5px;
      }
      &::after {
        bottom: -5px;
        left: -5px;
      }
    }
  }
  .li--long {
    padding-bottom: 50px;
  }
  .time {
    div {
      position: absolute;
      font-size: 1rem;
      left: -140px;
    }
    &--bottom {
      bottom: -10px;
    }
    &--top {
      top: -10px;
    }
  }

  .span--outerCircle {
    &::before,
    &::after {
      background: transparent;
      content: "";
      width: 20px;
      height: 20px;
      border: 1px solid $darkGray;
      position: absolute;
      border-radius: 50%;
    }
    &::before {
      top: -10px;
      left: -10px;
    }
    &::after {
      bottom: -10px;
      left: -10px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .timeLine {
    ul {
      &::before {
        height: 400%;
      }
      &::after {
        content: "";
      }
    }
    font-size: 1.2rem;
    li {
      margin: 50px 0px;
      span {
        left: -40px;
      }
    }
    .time {
      div {
        position: absolute;
        font-size: 0.6rem;
        left: 0px;
      }
    }
    .skillMark {
      width: 20px !important;
      height: 2px !important;
    }
  }
}
