$black: #282828;
$darkGray: #303030;
$midGray: #383838;
$lightGray: #484848;
$white: #f0f0f0;

.nopadding {
  padding: 0 !important;
}

.mainBody {
  min-height: 2000px;
  position: relative;
  // background: $white;
  .banner {
    margin-bottom: 20px;
    overflow: hidden;
    background-color: $black;
    height: 700px;
    position: relative;
    padding: 0 !important;
    z-index: 0;
    clip-path: polygon(0 0, 100% 0, 100% 88%, 66% 100%, 0 78%);

    .banner__h1 {
      margin-top: 20px;
      // left: 20%;
      position: relative;
      color: $white;
      font-size: 8rem;
      z-index: 100;
      // animation-timing-function: ease-in-out;
    }
  }
  @media only screen and (max-width: 600px) {
    .banner {
      height: 400px;
    }
    .banner__h1 {
      left: 0% !important;
      font-size: 4.5em !important;
    }
    .object {
      &--background {
        width: 500px !important;
        height: 500px !important;
      }
      &--midground {
        width: 200px !important;
        height: 200px !important;
      }
      &--foreground {
        top: 300px !important;
        width: 50px !important;
        height: 50px !important;
      }
    }
  }
  .object {
    border-radius: 50%;
    position: absolute;

    &--foreground {
      width: 200px;
      height: 200px;
      right: 10%;
      top: 500px;
      background: $lightGray;
      z-index: 10;
      // position: fixed;
    }
    &--midground {
      left: 2%;
      top: 5%;
      background: $midGray;
      width: 400px;
      height: 400px;
    }
    &--background {
      background: $darkGray;
      top: -10%;
      left: 5%;
      width: 1000px;
      height: 1000px;
    }
    &--bottom {
      z-index: -1;
      background: $black;
      width: 1500px;
      height: 1500px;
    }
  }
}
.objectHolder {
  position: absolute;
  z-index: -1;
  &--bottom {
    width: 100%;
    height: 30%;
    bottom: -10%;
    left: -20%;
  }
}
.span--hightlight {
  background-color: rgba(0, 0, 0, 0.2);
}
@keyframes flashing {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
