$black: #282828;
$darkGray: #303030;
$midGray: #383838;
$lightGray: #484848;
$white: #f0f0f0;
$fgWhite: #f8f8f8;
.footer {
  padding-top: 0px;
  &__content {
    // background: $darkGray;
    color: darkgray;
    place-items: center;
    display: grid;
    padding: 30px 0;
  }
  img {
    width: 40px;
    transition: 0.2s;
    filter: invert(100%);
    opacity: 0.5;
    margin: 0px 10px;
  }
  img:hover {
    opacity: 1;
    transform: translateY(-5px);
  }
  &--main {
    background: $darkGray;
    clip-path: polygon(74% 56%, 100% 0, 100% 100%, 0 100%, 0 0);

    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 150px;
  }
  &--bg {
    clip-path: polygon(66% 42%, 100% 0, 100% 100%, 0 100%, 0 0);
    background: $black;
    position: absolute;
    z-index: -5 !important;
    bottom: 0;
    width: 100%;
    min-height: 160px;
  }
  &::after {
    content: "";
    background: $darkGray;
    width: 100%;
    height: 100%;
    position: absolute;
  }
}
@media only screen and (max-width: 767px) {
  .footer {
    img {
      width: 30px;
    }
    &--bg {
      clip-path: polygon(63% 8%, 100% 0, 100% 100%, 0 100%, 0 0);
      height: 20%;
    }
  }
}
