@import "components/Home/home";
@import "components/Footer/footer";
@import "components/TabPanel/tabPanel";
@import "components/Projects/projects";
@import "components/Projects/ProjectCard/projectCard";
@import "components/ScrollUpButton/scrollUpButton";
@import "components/TabTitle/tabTitle";
@import "components/About/TypedText/typedText";
@import "components/About/about";
@import "components/About/CharacterCard/characterCard";
@import "components/About/TimeLine/timeLine";
@import "components/About/SkillSet/skillSet";
@import "components/About/Hobbies/hobbies";
@import "components/Contact/contact";
@import "components/Banner/banner";

$black: #282828;
$darkGray: #303030;
$midGray: #383838;
$lightGray: #484848;
$white: #f0f0f0;
$fgWhite: #f8f8f8;
.App {
  color: $darkGray;
  overflow: hidden;
  min-height: 100vh;
}
